<div class="content"> 
    <h2>About Me</h2>
    <p>我是田俊，90s，2013年毕业于中南大学自动化专业，2016年毕业于中科院自动化所，目前在滴滴做些算法方面的工作。</p>
    <p>比较喜欢New Age, Post Rock风格的音乐。</p>
    <p>感兴趣的研究方向包括：Machine Learning, Data Mining, Deep Learning, Natural Language Processing等。</p>
    <p>日常编程主要用Python和Java，略懂Clojure和Golang，偶尔改改C/C++代码。</p>

    <h2>About This Site </h2>

    <p>想在这里写些东西，留下属于自己的回忆</p>

    <p>阅读，思考，生活......</p>

    <p>我会（尽量）坚持每周在这里更新，努力做些事情，改变些东西</p>

    <h2>Contact Me </h2>
    <p>E-mail: tianjun@tianjun.me </p>
    <p><img src="http://ontheroad.qiniudn.com/4.jpg"></p>

    <div id="disqus_thread"></div>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        this.page.url = 'http://tianjun.me/about/'; 
            this.page.identifier = 'ABOUT'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//tianjun.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
