<!DOCTYPE html>
<html lang="zh-CN">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tian Jun Machine Learning</title>
	<meta name="keywords" content="田俊,tianjun,python,machine learning,机器学习,data mining,数据挖掘,natural language processing,NLP,自然语言处理">
	<meta name="description" content="田俊，关注机器学习(machine learning)、数据挖掘(machine learning)、自然语言处理(natural language processing, NLP)等领域">
	<meta name="author" content="Tian Jun">
	<link rel="icon" href="//ontheroad.qiniudn.com/blog/static/images/favicon.ico">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/cssstyle.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/solarized-light.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ontheroad.qiniudn.com/blog/static/jstool.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

    </head>
    <body>
	<div class="container">
	    <div class="blog-header row">
		<div class="col-xs-12 col-md-6">
		    <div id="blog-title">Tian Jun</div>
		</div>
		<div class="col-xs-12 col-md-6">
		    <div id="blog-slogan">Fight For Dream!</div>
		</div>
	    </div>

	    <div class="blog-nav row text-center">
		<div class="col-xs-3 col-md-1 col-md-offset-9">
		    <a href="/">Essays</a>
		</div>
		<div class="col-xs-3 col-md-1">
		    <a href="/about/">About</a>
		</div>
	    </div>

	    <div class="row">
		<div class="main col-xs-12 col-md-9">
                    <div class="content">
                        <div class="post"> 
                            <h1 class="post-title">
                                <a href="/essays/105/">Sample Title</a>
                            </h1>
                            <div class="post-time"> <br>
                                <p class="small">Tags: <span class="glyphicon glyphicon-tags"></span><span class="blog-tags">TAG,TAG,TAG</span></p>
                                <p class="small">Update Time: <span class="glyphicon glyphicon-calendar"></span><span class="update-time">2016-11-11 11:11:11</span></p>
                            </div>
                            <div class="post-content"></div>
                            <div class="post-time"> <br>
                                <p class="small">Create Time: <span class="glyphicon glyphicon-calendar"></span><span class="create-time">2016-09-09 09:09:09</span></p>
                            </div>
                        </div>
		    </div>
		    <div class="clearfix"></div>
                </div>

                <div class="sidebar-flag">
                    <label id="sidebar-trigger" ><span class="glyphicon glyphicon-menu-right"></span></label>
                </div>

                <div class="sidebar col-xs-12 col-md-3">
		    <div class="sidebar-container icons">
			<p>
			<a href="#" class="fa fa-2x fa-weixin"></a>
			<a href="https://github.com/findmyway" class="fa fa-2x fa-github"></a>
			<a href="/rss/" class="fa fa-2x fa-rss-square"></a>
			<a href="http://www.linkedin.com/in/findmyway" class="fa fa-2x fa-linkedin"></a>
			</p>
			<p>
			<a href="https://medium.com/@TianJun1991" class="fa fa-2x fa-medium"></a>
			<a href="http://www.xiami.com/u/874999" class="fa fa-2x fa-music"></a>
                        <a href="https://play.spotify.com/user/tianjun1991" class="fa fa-2x fa-spotify"></a>
                        <a href="https://www.instagram.com/tianjun.me/" class="fa fa-2x fa-instagram"></a>
                        </p>
                        <p> <div > <img id="weixin-QR-code" width="100%" src="http://ontheroad.qiniudn.com/blog/static/images/616035488.jpg"> </div> </p>
                    </div>
                    <div class="sidebar-container">
                        <div class="zhihu-card" data-userhash="5a6237cebe73cf47a10f1ba0c604cb8c" data-width="200" data-height="150" data-key1="answer" data-key2="agree" data-key3="follower" data-theme="github"></div>
                        <script src="//cdn.jsdelivr.net/zhihu-card/latest/widget.js"></script>
                    </div>
		</div>
	    </div>

	    <div id="footer" class="row">
		<div class="col-xs-12 col-md-9">
		    Design From <a href="http://www.html5webtemplates.co.uk/">HTML5webtemplates</a>
		    <br>
		    This work by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.tianjun.ml" property="cc:attributionName" rel="cc:attributionURL">Tian Jun</a> is licensed under a
		    <br>
		    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons
			Attribution-NonCommercial 4.0 International License</a>.
		    <br>
		    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"></a>
		    <script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1000145578'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000145578%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
		    </script>
		</div>
	    </div>

	</div>


    </body>
</html>
