{% extends "base.html" %}
{% block content %}

<div class="post">
    <h1 class="post-title"><a href="/essays/{{doc.id}}/">{{doc.title}}</a></h1>
    <div class="post-time">
        {% if tags|not-empty %}
        <p class="small">Tags: <span class="glyphicon glyphicon-tags"></span>
        {% for tag in tags %}
        <a href="/search/?dtype=blog&tag={{tag}}">{{tag}}</a>,
        {% endfor %}
        {% endif %}
        </p>


        {% if doc|not-empty %}
        <p class="small">Last Update: <span class="glyphicon glyphicon-calendar"></span>{{doc.update_time}}</p>
        {% endif %}
    </div>


    {% if doc|not-empty %}
    <div class="post-content">
        {{doc.body|markdown}}
    </div>

    <div class="post-time">
        <br>
        <p class="small">Post Time: <span class="glyphicon glyphicon-calendar"></span>{{doc.create_time}}</p>
    </div>
    {% endif %}

    {% if doc|empty? %}
    <p>Sorry, I have deleted that page.  Try some other articles please.</p>
    <p>  抱歉，该页面可能在网站搬迁的过程中丢失了，不妨看看其它文章，或者实在有必要的话请直接联系我～</p>
    {% endif %}
</div>

<div id="disqus_thread"></div>
<script>
/**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
   var disqus_config = function () {
       this.page.url = 'http://tianjun.me{{PAGE_URL}}'; // Replace PAGE_URL with your page's canonical URL variable
       this.page.identifier = '{{doc.id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
   };

(function() { // DON'T EDIT BELOW THIS LINE
 var d = document, s = d.createElement('script');
 
 s.src = '//tianjun.disqus.com/embed.js';
 
 s.setAttribute('data-timestamp', +new Date());
 (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}


{% block all-tags %}
    <div class="sidebar-container">
        <h1>Tags</h1>
        <ul>
        {% for tag, count in all-blog-tags %}
        <li><a href="/search/?dtype=blog&tag={{tag}}">{{tag}} <span class="badge">{{count}}</span></a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
